<div class="h-100 w-100 mascara border2">

  <img src="../../assets/img/background/Wave.png" class="bg_login_wave">

  <form [formGroup]="formRestaurar" class="h-100 flex-center  border3" novalidate>
    <div class="h-100 row no-gutters flex-center flex-column w-100">
      <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-4 p-5 sombra container_restaurar_contrasena">

        <div class="flex-column flex-centerlink  m-auto">
          <img class="my-3 logo_olvido_contrasena" src="../../assets/img/brand/logo_chec_completo.png" />
          <h2 class="texto_exito">Restablecer Contraseña</h2>
        </div>

        <mat-form-field class="w-100 flex-center">
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput [type]="showcontrasena ? 'text' : 'password'" formControlName="contrasena"
            class="example-right-align" />
          <i class="fas fa-lock mr-3" matPrefix></i>
          <span class="texto-pequeno error " *ngIf="
                  formRestaurar.controls.contrasena.invalid &&
                  (formRestaurar.controls.contrasena.errors?.min ||
                    formRestaurar.controls.contrasena.errors?.max) &&
                  (formRestaurar.controls.contrasena.dirty ||
                    formRestaurar.controls.contrasena.touched)
                ">La contraseña debe contener 6 digitos</span>
          <span class="texto-pequeno error " *ngIf="
                  formRestaurar.controls.contrasena.invalid &&
                  formRestaurar.controls.contrasena.errors.required &&
                  (formRestaurar.controls.contrasena.dirty ||
                    formRestaurar.controls.contrasena.touched)
                ">Mínimo: 6 caracteres,1 letra en Mayúscula, 1 letra en Minúscula,1
            número, 1 carácter especial</span>

        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Confirmar Contraseña</mat-label>
          <input matInput [type]="showcontrasena ? 'text' : 'password'" formControlName="repetir_contrasena"
            class="example-right-align" />
          <i class="fas fa-lock mr-3" matPrefix></i>

          <span class="texto-pequeno error pos_texto_error" *ngIf="
                  formRestaurar.controls.repetir_contrasena.invalid &&
                  (formRestaurar.controls.repetir_contrasena.errors?.min ||
                    formRestaurar.controls.repetir_contrasena.errors?.max) &&
                  (formRestaurar.controls.repetir_contrasena.dirty ||
                    formRestaurar.controls.repetir_contrasena.touched)
                ">Mínimo: 6 caracteres,1 letra en Mayúscula, 1 letra en Minúscula,1
            número, 1 carácter especial</span>
          <span class="texto-pequeno error " *ngIf="
                  formRestaurar.controls.repetir_contrasena.invalid &&
                  formRestaurar.controls.repetir_contrasena.errors.required &&
                  (formRestaurar.controls.repetir_contrasena.dirty ||
                    formRestaurar.controls.repetir_contrasena.touched)
                ">La contraseña debe de ser igual a la de arriba y es obligatorio</span>
          <span class="texto-pequeno error " *ngIf="
                  formRestaurar.errors?.notSame &&
                  formRestaurar.controls.repetir_contrasena.valid &&
                  formRestaurar.controls.contrasena.valid &&
                  (formRestaurar.controls.repetir_contrasena.dirty ||
                    formRestaurar.controls.repetir_contrasena.touched) &&
                  (formRestaurar.controls.repetir_contrasena.dirty ||
                    formRestaurar.controls.repetir_contrasena.touched)
                ">Las contraseñas no coinciden</span>
        </mat-form-field>
        <button (click)="fn_submitformRestaurar(formRestaurar)" mat-raised-button class="my-4 w-100  btn-verde-primary">
          <i class="fas fa-unlock mr-3" matPrefix></i>
          CAMBIAR CONTRASEÑA
        </button>
        <a href="" class="flex-center my-2">Volver</a>
        <!--<div class="animated bounceIn">
          <i class="fas fa-check-circle fa-8x mt-5 animated bounceIn"></i>
          <h2 class="my-4 texto_exito">
            ¡Tu cuenta ha sido restaurada con éxito.
          </h2>
        </div>-->
      </div>
    </div>
  </form>
</div>