<mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav class="" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">         
               
                <div class="row no-gutters">
                <div class=" col-12">
                <img src="../../../assets/img/brand/logo.png" class="bg_icon_wave">  
               </div>
               <div class="col-12">
                 <h4 class="my-1 flex-center">Paginas</h4>
              <mat-selection-list [multiple]="false" class="py-0">
                  <mat-list-option class=" border-bottom border-top direccion_sidenav " > 
                    <mat-icon mat-list-icon class="mx-2">
                      <i class="fas fa-user color-icon"></i>
                    </mat-icon>                   
                    <a href="login">
                       <h5 class="my-0">login</h5>
                      </a>
                  </mat-list-option>
                  
                  <mat-list-option class="border-bottom direccion_sidenav">  
                    <mat-icon mat-list-icon class="mx-2">
                      <i class="fas fa-window-close color-icon"></i>
                    </mat-icon>
                    
                    <a href="pagenotfound">
                    <h5 class="my-0">page not found</h5>
                    
                   </a> </mat-list-option>
                  </mat-selection-list>
                </div>
              </div>
                 
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="background-navbar ">
        <button mat-button (click)="sidenav.toggle()" class="flex-center ">
        <i class="fas fa-bars fa-lg flex-center"></i>
      </button>
      <h4>principal</h4>
      <span class="spacer_toolbar"></span>
    <ul class="flex-center my-1 px-4">
      <button mat-icon-button [matMenuTriggerFor]="afterMenu"> 
          <img src="../../../assets/img/brand/foto-perfil.png" class="contenedor_icono" >   
          <i class="fas fa-caret-down"></i>
  
      </button>
      <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Cerrar Sesion</button>
      </mat-menu>

</ul>
    </mat-toolbar>
    <app-demo></app-demo>
    </mat-sidenav-content>
  </mat-sidenav-container>

   
