$azul_oscuro: #1b62bf;
$azul: #1e82d9;
$azul_claro: #1e91d9;
$azul_agua_marina: #57c6f2;
$gris_primary: #545454;
$gris_claro: #9b9b9b;
$verde_primary: #00782b;
$verde_secondary: #9cc129;
$gris_secondary: #a1a1a5;
$text_primary: #3c3c3c;
$blanco:#fcfcfc;